# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: The caffeinated engineer
author: João Rocha da Silva
email: joaorosilva@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  João Rocha da Silva, Informatics Engineering professor at FEUP, developer and researcher.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://silvae86.github.io" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  silvae86
linkedin_username: joaomiguelsilva

# Build settings
markdown: kramdown
kramdown:
    syntax_highlighter_opts:
        block:
            line_numbers: true
theme: minima
show_excerpts: true

GH_ENV: gh_pages
environment: production

safe: true

relative_permalinks: false

collections:
  pages:
    output: true
    permalink: /:path/

permalink: pretty

sass:
    sass_dir: _sass
    style: compressed

breadcrumbs:
  root:
    hide: false  # show breadcrumbs on root/home page
    image: true # Show image or title text

# Plugins (previously gems:)
plugins:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-debug
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-relative-links
  - jekyll-seo-tag

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-redirect-from
  - jekyll-relative-links

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

defaults:
  - scope:
      path: ""
      type: posts
    values:
      title: "Untitled"
      autoads: true # like this
