---
layout: search
---

<div class="search-container">
    <div class="search-container">
        <form action="/search" method="get">
          <input type="text" placeholder="Search..." name="query" id="search-box">
          <button type="submit">Search</button>
        </form>
    </div>
  </div>

<h2>Search Results</h2>

<ul id="search-results"></ul>

{% assign indexed_stuff = site.pages | concat: site.posts %}

<!-- {% for page in all_stuff %}
 {{page.url}}
{% endfor %} -->

<script>
  window.store = {
    {% for document in indexed_stuff %}
      "{{ document.url | slugify }}":
        {
          "title": "{{ document.title | xml_escape }}",
          "author": "{{ document.author | xml_escape }}",
          "category": "{{ document.category | xml_escape }}",
          "content": {{ document.content | strip_html | strip_newlines | jsonify }},
          "url": "{{ document.url | xml_escape }}"
        }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>

<script src="/js/lunr.js"></script>
<script src="/js/search.js"></script>
