
<a href="/about" class="hidden-link">
  <div class="round-mask-wrap">
    <img class="round-mask" src="/assets/images/about/me.jpg" alt="Picture of João Rocha da Silva">
  </div>

  <h1>João Rocha da Silva</h1>
</a>

<ul>
  <li><a class="hidden-link" href="https://sigarra.up.pt/feup/pt/func_geral.formview?p_codigo=498204">Invited Assistant Professor</a> at <a class="hidden-link" href="https://sigarra.up.pt/feup/pt/web_page.Inicial">FEUP</a></li>
  <li><a class="hidden-link" href="https://www.inesctec.pt/pt/pessoas/joao-rocha-silva">PostDoc Researcher</a> at <a class="hidden-link" href="https://www.inesctec.pt/pt">INESC TEC</a></li>
  <li><a class="hidden-link" href="https://ant.fe.up.pt/search?q=i123&tipoentidade=Sala">FEUP Room i123</a></li>
</ul>
