<a href="/about" class="center hidden-link">
  <div class="round-mask-wrap">
    <img class="round-mask" src="/assets/images/about/me.jpg" alt="Picture of João Rocha da Silva">
  </div>
</a>

<ul>
	<li>
		<h1><a class="hidden-link" href="/about">João Rocha da Silva</a></h1>
	</li>
	<li>
		<!-- <span class="timebracket-pill">Jul 2021-Current</span> -->
		<strong>Senior Full Stack Software Engineer</strong> <br> at <a href="https://pt.kuehne-nagel.com"><img src="/assets/images/home/kuehne-nagel-logo-blue.png" class="textheight" alt="Kuhne+Naegel company logo"></a>
	</li>
</ul>

<ul class="smalltext previously">
	<h2>Previously</h2>
	<li>
		<span class="timebracket-pill">2020-2021</span>
		Full Stack Engineer<br> at <a href="https://gyant.com"><img src="/assets/images/home/gyant-logo.png" class="textheight" alt="GYANT company logo"></a>
	</li>
	<li>
		<span class="timebracket-pill past">2016-2020</span>
		<a class="hidden-link" href="https://sigarra.up.pt/feup/pt/func_geral.formview?p_codigo=498204">Invited Assistant Professor</a> at <a class="hidden-link" href="https://sigarra.up.pt/feup/pt/web_page.Inicial">FEUP</a>,
		<a class="hidden-link" href="https://www.inesctec.pt/pt/pessoas/joao-rocha-silva">Post-doctoral researcher</a> at <a class="hidden-link" href="https://ant.fe.up.pt/search?q=i123&tipoentidade=Sala">FEUP InfoLab❤️</a> &amp; <a class="hidden-link" href="https://www.inesctec.pt/pt">INESC TEC</a> 
	</li>
	<li>
		<span class="timebracket-pill past">Even more</span>
		<a class="hidden-link" href="https://www.linkedin.com/in/joaomiguelsilva/"><img src="/assets/images/home/linkedin-logo.png" class="textheight" alt="LinkedIn logo">&nbsp;LinkedIn</a>
	</li>
	<!-- <li>
		<span class="timebracket-pill past">2012-2016</span>
		PhD Student</a> at <a class="hidden-link" href="https://sigarra.up.pt/feup/pt/web_page.Inicial">FEUP</a>
	</li>
	<li>
		<span class="timebracket-pill past">2011-2012</span>
		Researcher </a> at <a class="hidden-link" href="https://sigarra.up.pt/feup/pt/web_page.Inicial">FEUP</a>
	</li>
	<li>
		<span class="timebracket-pill past">2010-2011</span>
		Consultant </a> at <a class="hidden-link" href="https://www.sysnovare.pt/portal/">Sysnovare</a>
	</li>
	<li>
		<span class="timebracket-pill past">2009-2010</span>
		Analyst </a> at <a class="hidden-link" href="https://www2.deloitte.com/pt/pt.html">Deloitte</a>
	</li>	 -->
</ul>
