{% assign src = include.src %}
{% assign caption = include.caption %}
{% assign title = include.title %}
{% assign imageposition = include.imageposition %}

{%- if imageposition -%}
	{% assign imgclass = "float-img-" | append: imageposition %}
{%- else -%}
	{% assign imgclass = "img-responsive" %}
{%- endif -%}

{% assign lightboxgroup = "imglightboxes" %}

<p class="{{ imgclass }}">
	<a href="{{src}}" class="{{ lightboxgroup }}" data-description="{{ caption }}" data-title="{{ title }}" data-sizes="(max-width: 600px) 480px, 800px" data-srcset="img480.jpx 480w img800.jpg 800w">
		<img src="{{ src }}" alt="{{ title }}">	
	</a>
	{%- if caption -%}
	<br>
	<em>{{caption}}</em>
	{%- endif -%}
</p>

<script type="application/javascript">
	window.onload = function() {
		var myLightbox = GLightbox({
		    'selector': "{{ lightboxgroup }}"
		});
	};	
</script>

