{% assign src = include.src %}
{% assign caption = include.caption %}
{% assign title = include.title %}
{% assign imageposition = include.imageposition %}

{%- if imageposition -%}
	{% assign imgclass = "float-img-" | append: imageposition %}
{%- else -%}
	{% assign imgclass = "img-responsive" %}
{%- endif -%}

{% assign lightboxgroup = "imglightbox" %}

<p class="{{ imgclass }}">
	<a href="{{src}}" class="{{ lightboxgroup }}" data-description="{{ caption }}" data-title="{{ title }}">
		<img src="{{ src }}" alt="{{ title }}">	
	</a>
	{%- if caption -%}
	<br>
	<em>{{caption}}</em>
	{%- endif -%}
</p>


