{% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}

{% if splitted_url_parts.size %}
  <nav class="breadcrumbs bootstrap hidden-sm-down">
    <ol class="breadcrumb list-unstyled" vocab="http://schema.org/" typeof="BreadcrumbList">
      <li class="breadcrumb-item breadcrumb-item-icon" property="itemListElement" typeof="ListItem">
        <a property="item" typeof="WebPage"  href="{{ site.baseurl }}/">
          <img class="nav-root-icon" src="{{ '/assets/images/home/Coffee_cup_icon.svg' | relative_url }}">
          <meta property="position" content="0" />
          Home
        </a>
      </li>

      {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
      {% for i in (1..forLoopMaxInt) %}
          {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
          {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
          {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
          {% for breadcrumb_page in site.pages %}
              {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
                  {% assign j = forLoopMaxInt | plus: 0 %}

                  <li {% if i == j %}class="breadcrumb-item breadcrumb-item-active"{% else %}class="breadcrumb-item"{% endif %}
                      property="itemListElement"
                      typeof="ListItem">
                        {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
                        <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">
                          <meta property="position" content="i" />
                          {{breadcrumb_page.title}}
                        </a>
                  </li>
              {% endif %}
        {% endfor %}
      {% endfor %}
    </ol>
  </nav>
{% endif %}
