{% assign maxRelated = 5 %}
{% assign minCommonTags =  1 %}
{% assign related_posts = "" | split: ',' %}
{% assign all_posts_and_pages = "" | split: ',' %}

{% for sitePost in site.posts %}
  {% assign all_posts_and_pages = all_posts_and_pages | push: sitePost %}
{% endfor %}

{% for sitePage in site.pages %}
  {% assign all_posts_and_pages = all_posts_and_pages | push: sitePage %}
{% endfor %}

{% for post in all_posts_and_pages %}
  {% assign sameTagCount = 0 %}
  {% assign commonTags = "" | split: ',' %}

  {%- if post.tags -%}
    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% assign commonTags = commonTags | push: tag %}
        {% endif %}
      {% else %}
      {% endif %}
    {% endfor %}
  {%- endif -%}

  {% assign unionTags = (page.tags | concat: post.tags ) | uniq %}
  {% assign nUnionTags = unionTags | size %}
  {% assign nCommonTags = commonTags | size %}

  {% if nUnionTags > 0 %}
    {% assign similarityScore = nCommonTags | divided_by: nUnionTags %}
  {% else %}
    {% assign similarityScore = 0 %}
  {% endif %}


  {% if similarityScore > 0 %}
    {% include
      mkhash.inc commonTags = commonTags
      sameTagCount = sameTagCount
      nUnionTags = nUnionTags
      nCommonTags = nCommonTags
      similarityScore = similarityScore
      url = post.url
      title = post.title
    %}
    {% assign related_posts = related_posts | push: h %}
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
  {% endif %}

{% endfor %}

{% assign sorted_posts = related_posts | sort: "sameTagCount" %}
{% assign top_posts = (sorted_posts | slice: 0, maxRelated %}

{% if top_posts | size > 0 %}
  <div class="relatedPosts">
    <h4 class="related-header">You May Also Enjoy</h4>
  {% for post in top_posts %}
    <div>
      <h5 class="related_post">
        <!--nUnionTags: {{post.nUnionTags}} nCommonTags: {{post.nCommonTags}} Similarity: {{post.similarityScore}}  -->
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
     </h5>

     <ul class="tags minitags">
       {% for tag in post.commonTags %}
       <li>
         <a class="tag-pill tag-pill-mini" href="/tags#{{ tag | slugify }}">
           {{tag}}
         </a>
       </li>
       {% endfor %}
     </ul>
    </div>
  {% endfor %}
</div>
{% endif %}
