---
---

$monokai_dark: #272822 !default;
$monokai_pink: #f92672 !default;
$monokai_cyan: #66d9ef !default;
$monokai_green: #a6e22e !default;
$monokai_orange: #fd971f !default;

// start content
@charset "utf-8";

div.wrapper {
	max-width: 90em;
	min-width: 60em;
}

div.home {
	display:grid;
	
	grid-template-rows: [start-teaching] auto [end-teaching-start-posts] 1fr [end-posts];
	grid-template-columns: [start-of-about] 2fr [end-of-about-start-of-content] 4fr [end-of-content];
	
	grid-template-areas: "about teaching"
						 "archive recentposts";
}

div.home > *
{
	margin:2em;
}

div.home > aside#about {
	grid-template-area: about;
}

div.home > div#teaching {
	grid-template-area: teaching;
}

div.home > div#archive {
	grid-template-area: archive;
}

div.home > div#recentposts {
	grid-template-area: recentposts;
}

#archive_list {
	list-style-type: none;
	margin-left: 0;	
}

#archive_list .separator {
	font-size: 1em;	
	
	/* highlight credits https://codepen.io/pugson/pen/EwmKJp */
    font-style: normal;
    border-radius: 0.5em 0 0.5em 0;
    text-shadow: 1px 1px 1px #fff;
    background-image: 
      linear-gradient(-100deg, 
        rgba(255,200,200,0.15),
        rgba(255,200,200,0.8) 100%, 
        rgba(255,200,200,0.25)
      );
}

#archive_list .post-link {
	font-size: 0.7em;
	margin-left: 2em;
}

#archive_list .post-link > a::before {
	font-family: "Font Awesome 5 Free";
	content: "\f70e";
}