---
---

$monokai_dark: #272822 !default;
$monokai_pink: #f92672 !default;
$monokai_cyan: #66d9ef !default;
$monokai_green: #a6e22e !default;
$monokai_orange: #fd971f !default;

$good-color: #3A3;
$bad-color: #A33;
$warning-color: yellow;

// start content
@charset "utf-8";

.index {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:flex-start;
	margin-top:3em;
}

.indexpill a {
	display:inline;
	background-color: $monokai_dark;
	font-size:1.1em;
	margin-left:1em;
	margin-right:1em;
	padding:10px;
}

.indexpill a:hover{
	background-color: $monokai_orange;
	color:white;
}

$max_height: 600;
$min_height: 150;

@mixin scaledimage($scale) {
	vertical-align: middle;   /* Only to align vertically */
	min-width:($min_height*$scale/100) + 0px;
	max-width:($max_height*$scale/100) + 0px;
    margin-left: auto;
    margin-right: auto;
}

@mixin scaledimagecontainer($scale) {
    margin-top: 120px;
    margin-bottom: 120px;
	width: $max_height + 0px;
    margin-left: auto;
    margin-right: auto;
}

.imgsm {
	@include scaledimagecontainer(30)
}

.imgsm img {
	@include scaledimage(30)
}

.imgmd {
	@include scaledimagecontainer(60)
}

.imgmd img {
	@include scaledimage(60)
}

.imglg {
	@include scaledimagecontainer(80)
}

.imglg img {
	@include scaledimage(80)
}

.imgfull {
	@include scaledimagecontainer(100)
}

.imgfull img {
	@include scaledimage(100)
}

.imgscaledup {
	@include scaledimagecontainer(110)
}

.imgscaledup img {
	@include scaledimage(110)
}

// Tables
table, th, td {
	border: 1px solid;
	border-color: $monokai_dark;
}

th, td {
	padding: 5px 15px 5px 15px;
}

thead {
	background-color: $monokai_dark;
	color: $monokai_green;
	font-size: 1.2em;
}

.largemargin img {
	margin-top: 150px;
	margin-bottom: 150px;
}

// good and bad headers (for advantages/disadvantages slides)
span.good {
	display: block;
	color: $good-color;
}

span.good::after {
	content: " ✅";
}

span.bad {
	display: block;
	color: $bad-color;
}

span.bad::after {
	content: " ❌";
};

span.dangerbox {
	display: block;
	padding: 2em;
	background-color: transparentize($warning-color, 0.4);
	border-radius: 0.5em;
	border-style: solid;
	border-width: 3px;
}

span.dangerbox::before {
	font-size: 1.2em;
	content: "⚠️ ";
}

// for very small footnotes

.tiny {
	font-size:0.5em;
}

.small {
	font-size:0.8em;
}
