<script type="text/javascript">
  const commentScripts = {
    marked: {
      src: '/assets/github-comments/marked.min.js',
      loaded: false,
    },
    DOMPurify: {
      src: '/assets/github-comments/purify.min.js',
      loaded: false,
    },
    dayjs: {
      src: '/assets/github-comments/dayjs.min.js',
      loaded: false,
    },
    dayJsRelativeTimePlugin: {
      src: '/assets/github-comments/relativeTime.js',
      loaded: false,
    },
  };

  function allCommentScriptsLoaded() {
    return Object.keys(commentScripts).every(script => commentScripts[script].loaded);
  }

  /**
  * @param {Object} script - the script to load async
  * @param {function} callback - a function to call once the script has loaded
  */
  function loadCommentScript(script, callback) {
    const scriptElement = document.createElement('script');
    scriptElement.src = script.src;
    document.body.appendChild(scriptElement);

    scriptElement.onload = () => {
        script.loaded = true;
        callback();
    };
  }

  /**
  * Called after the GitHub API request finishes.
  * @param {Array<Object>} comments - an array of objects representing GitHub comments
  */
  function initRenderComments(comments) {
    if (!comments.length) {
      commentsWrapper.innerHTML = `<p>No comments yet 👀 Be the first to post!</p>`;
      return;
    }

    // Load all comment script dependencies async
    Object.keys(commentScripts).forEach(script =>
      loadCommentScript(commentScripts[script], () => renderComments(comments))
    );
  }
</script>
