@media only screen and (min-width: $on-laptop) {
	div.home{
		// without teaching
		grid-template-rows: [start] auto [end-about-start-archive] 1fr [end];
		
		// with teaching
		// grid-template-rows: [start-teaching] auto [end-teaching-start-posts] 1fr [end-posts];
		grid-template-columns: [start-of-about] 1fr [end-of-about-start-of-content] 4fr [end-of-content];

		//grid-template-areas: "about teaching"
		// 					 "archive recentposts";

		grid-template-areas: "about homecontent"
		  					"archive homecontent";
	}

	#archive {
		align-items: start;
	}
	
	#about {
		grid-area: about;
		margin:0.2em;
	}
	
	#home-content {
		grid-area: homecontent;
		margin:1em;
	}

	#about ul {
		margin-left: 0px;
		margin-top: 2em;
		margin-bottom: 0px;
	}

	.site-header nav {
			width:100%;
		}

	.search-container {
		float: right;
	}

	#search-box {
		max-width: 150px;
	}

	div.home #archive {
		margin:1em;
	}

	div.trigger {
		display:flex;
	}

	div.trigger > div.search-container {
		margin-left: auto;
	}
}
