div.home {
	position: relative;
	display:grid;

	grid-template-rows: [start-teaching] auto [end-teaching-start-posts] 1fr [end-posts-start-archive] auto [end-archive];
	grid-template-columns: [start-of-content] auto [end-of-content];

	grid-template-areas:
			"teaching"
			"recentposts"
			"archive";

		#teaching {
			grid-area: teaching;
			margin:1em 0em 1em 0em;
		}

		#recentposts {
			grid-area: recentposts;
			margin:1em 0em 1em 0em;
		}

		#archive {
			grid-area: archive;
			margin:1em 0em 1em 0em;
		}

		.trigger {
			z-index: 400;
		}
}

header.site-header a.site-title {
		display:block;
		width: 100%;
}

@media only screen and (max-width: $on-laptop) and (min-width: $on-palm) {
	nav.site-nav {
		width: 100%;
	}
}

@media only screen and (max-width: $on-laptop) {
	div.trigger {
		display: flex;
		flex-direction: column;
	}

	div.search-container {
		width: 100%;
		margin-bottom:1em;
	}

	div.search-container form {
		display:flex;
		width: 100%;
	}

	div.search-container form > input {
		flex-grow:1;
	}
}

@media only screen and (max-width: $on-palm) {
	#about {
		display:none;
	}

	code {
			max-width: $on-palm;
			word-break: break-all;
			white-space: pre-wrap;
	}

	.site-header a.site-title{
		font-size: 1.4em;
	}

	.site-header .site-nav {
		z-index: 10000;
	}

	.site-nav input:checked ~ .trigger {
		display: flex;
		flex-direction: column;
	}

	#search-box {
		margin-left: 1em;
	}
}

#about ul {
	list-style: none;
}

#about .round-mask-wrap {
	filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
	width: 50%;
	margin: 20px auto 20px auto;
}

#about img.round-mask {
	clip-path: circle(50% at center);
}

#about h1 {
	font-family: $serif-font-family;
	font-size: 1.2em;
	margin: auto;
	text-align: center;
	display:block;
	margin-top:1em;
	margin-bottom:1em;
	font-weight: bold;
}

#about ul {
	font-family: $serif-font-family;
	list-style: none;
	margin-left: 0px;
}

#about .center
{
	text-align: center;
}

.site-header a.site-title{
	display:block;
}

#about .hidden-link {
	color: $text-color;
}

#about .hidden-link:hover {
	color: $background-color;
	background-color: $text-color;
}

//#about .timebracket-pill {
//	background-color: $brand-color;
//	border-style: 1px darken($brand-color,0.5) solid;
//	border-radius: 3px;
//	padding:3px;
//	color: $background-color;
//	display:block;
//}

#about .previously{
	margin-top: 2em;
	margin-bottom: 0px;
}

.site-header a.site-title{
	display:block;
	font-style: italic;
}

.search-container {
  input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
		border-color: $grey-color-light;
  }

  button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
		margin-left:0px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background: #ccc;
  }
}
