.relatedPosts {
  margin-top: 3em;
  margin-bottom: 0.5em;
}

.relatedPosts > h4 {
  color: $text-color;
  font-size: 1.2em;
  margin-bottom:0.3em;
}

.relatedPosts .relatedPost
{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}


.relatedPosts .relatedPost .c100
{
  margin-right: 0.2em;
//  margin-top: 0.1em;
//  margin-bottom: 0.1em;
}


.relatedPosts h4.related-header {
	margin-bottom:0px;
}

.relatedPosts h5.about
{
	margin-top:0.2em;
	font-size:0.5em;
	color:$grey-color;
}

